:root {
  --bg-desktop: url('./images/bg-desktop-light.jpg');
  --bg-main: hsl(0, 0%, 98%);
  --primary: #fff;
  --accent: #E6E5EA;
}

.dark-mode {
  --bg-desktop: url('./images/bg-desktop-dark.jpg');
  --bg-main: hsl(235, 21%, 11%);
  --primary: hsl(235, 24%, 19%);
  --accent: #303247;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--bg-main);
}

.header {
  background-image: var(--bg-desktop);
  height: 40vh;
}

.card {
  margin: 0 auto;
  display: flex;
  width: min(90%, 30rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: -11rem;
}

.card-header h1 {
  color: #fff;
  letter-spacing: .5rem;
}

#dark-mode-toggle {
  cursor: pointer;
}

.card-body {
  width: 100%;
}

.card-item {
  position: relative;
}

.card-item .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  display: flex;
  align-items: center;
}

.card-item .icon div {
  padding: .5rem;
  border-radius: 50%;
  border: 1px solid hsl(233, 14%, 35%);
}

.card-item input {
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: .2rem;
  background-color: var(--primary);
  padding: 1.3em 2.8em;
  border: none;
  color: hsl(234, 11%, 52%);
  font-weight: 400;
}

.card-body ul {
  margin-top: 2rem;
  list-style: none;
  border-radius: .2rem;
}

.card-body ul li {
  cursor: pointer;
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  background-color: var(--primary);
  padding: 1.3em 2.8em;
  border: none;
  color: hsl(234, 11%, 52%);
  font-weight: 400;
  border-top: .5px solid var(--accent);
  display: flex;
  align-items: center;
}

.completed-todo {
  text-decoration: line-through;
}

li:first-child {
  border-radius: .2rem .2rem 0 0;
}

.card-footer {
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  background-color: var(--primary);
  padding: 1.3em 1em;
  border: none;
  color: hsl(234, 11%, 52%);
  font-weight: 400;
  border-top: .5px solid var(--accent);
  display: flex;
  align-items: center;
  color: hsl(234, 39%, 85%);
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
  font-size: .9rem;
  border-radius: 0 0 .2rem .2rem;
}

@media screen and (max-width: 40rem) {
  .card-footer {
    font-size: .7rem;
  }
  .card-footer .filter > * + * {
    margin-left: .6rem;
  }
}

.card-footer .filter .active-filter {
  color: hsl(220, 98%, 61%);
}

.card-footer .filter > *, .clear-completed {
  cursor: pointer;
}

.card-footer .filter > * + * {
  margin-left: .8rem;
}